/** INTRODUCTION **/
@font-face {
    font-family: 'Parisienne', cursive;
    src:url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto+Slab:wght@300;500&display=swap'); 
}

.introduction {
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    color: #D1E0B2;
    background-color: #D1E0B2

}
.row{
    margin-top: 3em;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    color: #D1E0B2;
    background-color: #D1E0B2
}
.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
    color: #3b434a; 
 background-color: #D1E0B2
}
.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 0;
    position: relative;
    z-index: 2;
 background-color: #D1E0B2
}

.section-title span {
    position: absolute;
    top: 30px;
    color: #BFB6A1;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    line-height: 0;
 background-color: #D1E0B2
}

.section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
 background-color: #D1E0B2
}

.titulo{
    color: #111;
    display: block;
    font-size: 2em;
    padding: 0.5em 0 0.5em 0;
    position: relative;
    text-align: center;
    font-family: 'Parisienne', cursive; 
 background-color: #D1E0B2
    
.info{
    font-family: 'Bitter', serif;
    text-indent: 1em;
    text-align: left;
 background-color: #D1E0B2
}
.info h3{
    text-indent: 1em;
    text-align: left;
    font-size: medium;
 background-color: #D1E0B2
}
.graphs{
    background-color: #D1E0B2
;
}
